<div class="events-container">

  <h2 style="color: white;">Table of Events</h2>
  <div class="events-header">
    <mat-form-field appearance="outline" color="accent" style="width: 300px;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" style="color: white;"> 
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 events-table" matSort matSortActive="name" matSortDirection="asc">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="width: 40%;" mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element" style="width: 40%;">{{element.name}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;" mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element" style="width: 20%;">{{element.date  | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Local Column -->
    <ng-container matColumnDef="local">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;" mat-sort-header>Local</th>
      <td mat-cell *matCellDef="let element" style="width: 20%;">{{element.local}}</td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;" mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let element" style="width: 20%;">{{element.categoria}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        No Events matching for this filter.
      </td>
    </tr>
  </table>
</div>