.events-container{
  display: flex;
  margin-top: 1.5rem;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.events-table {
  width: 100%;
}

.events-header {
  min-height: 64px;
  padding: 0 0 10px 0;
  display: flex;
  align-self: flex-start;
}