<div class="form-container-search">
  <form [formGroup]="searchForm" style="height: 60px;">
    <mat-form-field appearance="outline" color="accent" required style="width: 500px;">
      <mat-label>Search for category</mat-label>
      <input matInput formControlName="category" maxLength="16" style="color: white;">
      <button style="color: #FFF;" mat-button *ngIf="searchForm.get('category')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchForm.get('category')?.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  
  <button 
    mat-raised-button 
    style=" height: 50px;"
    (click)="onSearch(searchForm.value)" 
    [disabled]="!searchForm.get('category')?.value" 
    color="primary"> Save</button>
</div>
