.form-container-search {
    display: flex;
    width: 100%;
    flex-flow: column;
    gap: 30px;
    align-items: center;
}

.button {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1), 0px 1px 10px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}