.device-container{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.device-table {
  width: 50%;
}

.device-button-container {
  padding-bottom: 16px;
  display: flex;
  width: 50%;
}
