<div mat-dialog-content>
  <p>Create a new category</p>
  <mat-form-field appearance="outline" color="accent" required>
    <mat-label>Category</mat-label>
    <input matInput [formControl]="name" maxlength="128">
    <mat-error *ngIf="name.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onNoClick()" color="warn">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="name.value" [disabled]="!!name.errors" color="primary">Save</button>
</div>
